<p> all the adventures </p>
<% @all_adventures.each do |adventure| %>
    <div class="adventure-box">
      <div class="adventure-box-inner">

        <p class="adventure-text"><%= adventure.adventure_description %></p>
        
        <% if adventure.state == "incomplete" %>
          <%= simple_form_for [@bucket_list, adventure],
            html: { class: "adventure-box-form" } do |f| %>
            
           
          <% end %>
        <% else %>
          <div class="adventipic">
          <%= image_tag(adventure.picture.url) %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
