<p> all the adventures </p>
<% @all_adventures.each do |adventure| %>
    <div class="adventure-box">
      <div class="adventure-box-inner">
        <%= adventure.adventure_description %>
        
        <% if adventure.state == "incomplete" %>
          <%= simple_form_for [@bucket_list, adventure],
            html: { class: "adventure-box-form" } do |f| %>
            
           
          <% end %>
        <% else %>
          <%= image_tag adventure.picture.url %>
        <% end %>
      </div>
    </div>
  <% end %>
