<h1> What do you want to do before you... </h1>


  <div class="row-fluid">
    <div class="span9">
      <div id="myCarousel" class="carousel slide">
      
        <div class="carousel-inner">
          <div class="item active">
            <div class="new_html_code"><h2>turn 40?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>die?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>fly home from Maui?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>get married?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>move out of Boston?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>have your next birthday?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>hit the hay tonight?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>have children?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>watch the clock strike midnight?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>start school?</h2></div>
          </div>

          <div class="item">
            <div class="new_html_code"><h2>see your ex?</h2></div>
          </div>


        </div>



      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>



  <div class="browse-advent-link">
    <%= link_to 'Browse Adventures', adventures_path %>
  </div>


