@import "twitter/bootstrap";
@import "flatly";


.adventure-box {
  width: 33%;
  min-width: 350px;
  float: left;
  padding: 15px;
}

.adventure-box-inner {
  position: relative;
  height: 300px;
  background: yellow;

  .adventure-text{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0.25em;
    color: white;
    font-size:1.75em;
    background-color: rgba(192,192,192,0.5);
    width: 100%;
  }
}

.adventure-box-form {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.description {
  z-index:100;
  position:absolute;    
  color:white;
  font-size:24px;
  font-weight:bold;
  left:150px;
  top:350px;
}

.adventipic {
  img {
    width: 100%;
    height: 300px;
      }
}

.container {
  width: 90%;
}
.carousel {
  width: 50%;
}
.span9 {
  width: 400px; 
  margin: 0 auto;
  min-height: 200px;
  }
.carousel-inner {
  text-align: center;
}
.row-fluid {
  width: 20em;
  padding-left: 40em;
}
.right.carousel-control {
background-image: none;
}

.left.carousel-control {
background-image: none;
}
  
.browse-advent-link {
  padding-top: 20em;
}

.prof-pic {
  img {
    width: 15em;
    height: 15em;
      }
}

.sign-in-or-up {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 245px;
}

.unfinished {
  width:50%;
  left: 10%;
}

.finished {
  position:absolute;
  top: 85px;
  left:65%;
  background-color: white;
  width: 49%;
  height:100%;
  overflow-y: auto;
}
.list-item {
  font-size: 1.5em;
}

.btn {
  position: absolute;
  top: 7em;
  padding: 4%;
  left: 35%;
  background-color: blue-green;
  border-color: green;
  border-width: 4px;
}
