@import "twitter/bootstrap";
@import "flatly";


.adventure-box {
  width: 33%;
  float: left;
  padding: 15px;
}

.adventure-box-inner {
  position: relative;
  height: 300px;
  background: pink;

  .adventure-text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 0.25em;
    color: white;
    font-size:1.75em;
    background-color: rgba(192,192,192,0.5);
    width: 100%;
  }

}

.adventure-box-form {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.description {
  z-index:100;
  position:absolute;    
  color:white;
  font-size:24px;
  font-weight:bold;
  left:150px;
  top:350px;

}

.adventipic {
  img {
    width: 100%;
    height: 300px;
      }
}



.container {
  width: 50%;
  padding-top: 20em;
  border: black;
}
.carousel {
  width: 50%;
}


.span9 {
  width: 400px; 
  margin: 0 auto
  }
.carousel-inner {
  text-align: center;
}
.row-fluid {
  width: 20em;
  padding-left: 40em;
}
.right.carousel-control {
background-image: none;
}

.left.carousel-control {
background-image: none;
}

